<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Page</title>
</head>
<body>
    <%- include('header_layout.html'); -%>
    <h1>Users Page</h1>
    <h3>My name: <%= name %></h3>
    <ul>
        <% users.forEach(function(user){ %>
          <li><%= user.id %> - <%= user.name %> - <%= user.email %></li>
        <% }); %>
    </ul>
    <%- include('footer_layout.html'); -%>
</body>
</html>